.wrapper {
  position: relative;
  cursor: pointer;
  outline: none;
  display: inline-block;
  user-select: none;
  .title {
    font-weight: bold;
  }
  .options {
    position: absolute;
    border: solid 1px grey;
    border-radius: 5px;
    .opt {
    padding: 10px 15px;
    background: rgba(0,0,0,0);
      &:hover {
        background: rgba(0,0,0,.3);
      }
    }
  }
}
