@import "~styles/mixins.scss";

.wrapper {
  position: relative;
  cursor: pointer;
  outline: none;
  display: inline-flex;
  user-select: none;
  align-items: center;
  // border: solid 1px transparent;
  &:hover,
  &:active,
  &.active {
    // border: solid 1px black;
    .title {
      box-shadow: $shadow;
    }
  }
  .label {
  }
  .title {
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 50px;
    transition: 0.3s;
    position: relative;
    margin-left: 5px;
  }
  .options {
    position: absolute;
    border: solid 1px grey;
    background: white;
    border-radius: 5px;
    width: 100%;
    left: -1px;
    top: 100%;
    z-index: 10;
    .opt {
      padding: 10px 15px;
      background: rgba(0, 0, 0, 0);
      &:hover {
        background: rgba(0, 0, 0, 0.3);
      }
      span {
        color: grey;
        font-size: 0.8rem;
      }
    }
  }
}
