.bar {
  text-align: center;
  margin-bottom: 20px;
  > * {
    margin-left: 10px;
  }
}
.container {
  display: flex;
  margin: 0 auto;
  max-width: 1024px;
  align-items: flex-start;
}
.list {
  flex: 0 0 50%;
  display: sticky;
  top: 0;
}
.display {
  margin-left: 20px;
  flex: 0 0 50%;
  position: sticky;
  top: 20px;
  height: calc(100vh - 40px);
  overflow: auto;
}
